<div cdkDropListGroup>
  <div class="example-container">
    <h2>Clean</h2>

    <div
      cdkDropList
      [cdkDropListData]="clean"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of clean" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Dirty</h2>

    <div
      cdkDropList
      [cdkDropListData]="dirty"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of dirty" cdkDrag>{{item}}</div>
    </div>
  </div>
  <div class="example-container">
    <h2>Out of service</h2>

    <div
      cdkDropList
      [cdkDropListData]="outofservice"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of outofservice" cdkDrag>{{item}}</div>
    </div>
  </div>
</div>
